@tailwind base;
@tailwind components;
@tailwind utilities;

 

body {
   background: ghostwhite;
}

* textarea{
   background: none !important;
}

.anim{
   height: 1px;
   width: 100%;
   animation-name: spline;
   animation-duration: 2s;
   animation-iteration-count: infinite;
}

@keyframes spline {
   0%{
      width: 10%;
      background: red;
   }
   20%{
      width: 50%;
      background: greenyellow;
   }
   40%{
      width: 80%;
      background: aqua;
   }
   60%{
      width: 80%;
      background: aqua;
   }
   80%{
      width: 50%;
      background: aqua;
   }
   100%{
      width: 10%;
      background: red;
   }
   
}